.title{
	-fx-text-fill: #3399ff;
	-fx-font: 60px "Impact, Charcoal, sans-serif";
}
.highlight{
	-fx-text-fill: white;
	-fx-background-color: #3399ff;
}
.split-pane{
	-fx-background-color: white;
}
.split-pane:horizontal .split-pane-divider{
	-fx-background-color: #3399ff;
	-fx-padding: 0 0.25 0 0.25;
}
.title-bar{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
	-fx-padding: 0 0 3 10;
}
.status-red{
	-fx-background-color: #ff704d;
}
.status-green{
	-fx-background-color: #71da71;
}
.text-area-log{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: #404040;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: Consolas;
}
.text-area-log .scroll-pane{
	-fx-background-color: #404040;
}
.text-area-log .scroll-pane .viewport{
	-fx-background-color: #404040;
}
.text-area-log .scroll-pane .content{
	-fx-background-color: #404040;
}

.text-area-log .scroll-bar{
	-fx-background-color: #404040;
}

.text-area-log .thumb{
	-fx-background-color: #303030;
	-fx-background-radius: 15px;
}

.text-area-log .increment-button{
	-fx-opacity: 0;
	-fx-padding: -7px;
}
.text-area-log .decrement-button{
	-fx-opacity: 0;
	-fx-padding: -7px;
}

.text-field-input{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: Consolas;
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
}
.label-login{
	-fx-font: 15px "Impact, Charcoal, sans-serif";
}
.label-login-error{
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-text-fill: red;
}
.text-field-login{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-border-width: 2px;
	-fx-border-color: #3399ff;
}
.text-field-login-invalid{
		-fx-border-color: red;
}
.button-login{
	-fx-background-color: #3399ff;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.button-login:pressed{
	-fx-background-insets: 0.5 0.5 0.5 0.5;
}
.stack-pane-login{
	-fx-padding: 10 0 10 0;
}
.vbox-login{
	-fx-background-color: white;
	-fx-padding: 0 150 0 150;
}
.text-field-chat-input{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: white;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
}
.label-chat-server-ip{
	-fx-font: 20px "Impact, Charcoal, sans-serif";
	-fx-text-fill: #3399ff;
}
.stack-pane-label-ip-wrapper{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
}
.border-pane-chat-left-side-wrapper{
	-fx-background-color: white;
	-fx-border-style: hidden solid hidden hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
}
.list-view{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: 0;
}
.list-cell{
	-fx-text-fill: black;
	-fx-background-color: white;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
}
.own-Message{
  -fx-background-color: rgba(51,255,136,0.5);
  -fx-background-radius: 15;
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 0.5;
  -fx-border-radius: 15;
}
.foreign-Message{
  -fx-background-color: rgba(51,255,136,0.5);
  -fx-background-radius: 15;
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 0.5;
  -fx-border-radius: 15;
}
#own-name{
	-fx-background-color: rgb(51,153,255);
 }

.list-view-server .cell:hover{
	-fx-background-color: #595B5C;
}

.list-view-server{
	-fx-background-color: #404040;
}

.list-view-server .cell{
	-fx-background-color: #404040;
	-fx-text-fill: white;
}

.list-view-server .cell:empty{
	-fx-border-width: 0px;
	-fx-background-color: #404040;
}

.list-view-server .cell:selected {
	-fx-background-color: #595B5C;
}

#searchField{
	-fx-background-color: #595B5C;
	-fx-text-fill: white;
}

#panelWrapperRight{
	-fx-background-color: black;
	-fx-border-color: #3399ff;
	-fx-border-width: 0px 0px 0px 3px;
	-fx-border-style: hidden hidden hidden solid;
}

/* ServerUI */
#labelStart{
	-fx-graphic: url("start.png");
}
#labelStop {
	-fx-graphic: url("stop.png");
}

#labelConsole{
	-fx-graphic: url("commandline.png");
}

#labelClients{
	-fx-graphic: url("clients.png");
}

.rootPaneServer{
	-fx-background-color: #373737;
}

#serverRun .split-pane-divider {
	-fx-background-color: #03f602;
}

#serverStop .split-pane-divider {
	-fx-background-color: red;
}

#toolBar{
	-fx-padding: 10px;
}

.hoverHand:hover{
	-fx-cursor: hand;
	-fx-opacity: 0.5;
}

.contentBackground{
	-fx-background-color: #404040;
}


#labelInfo{
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-font-size: 30px;
}

#labelIp{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}
