.title{
	-fx-text-fill: #3399ff;
	-fx-font: 60px "Impact, Charcoal, sans-serif";
}
.highlight{
	-fx-text-fill: white;
	-fx-background-color: #3399ff;
}
.split-pane{
	-fx-background-color: white;
}
.split-pane:horizontal .split-pane-divider{
	-fx-background-color: #3399ff;
	-fx-padding: 0 0.25 0 0.25;
}
.title-bar{
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
	-fx-padding: 0 0 3 10;
}
.status-red{
	-fx-background-color: #ff704d;
}
.status-green{
	-fx-background-color: #71da71;
}
.text-area-log{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: white;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
}
.text-field-input{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: white;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-width: 3px;
	-fx-border-color: #3399ff;
}
.label-login{
	-fx-font: 15px "Impact, Charcoal, sans-serif";
}
.label-login-error{
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-text-fill: red;
}
.text-field-login{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-border-width: 2px;
	-fx-border-color: #3399ff;
}
.text-field-login-invalid{
		-fx-border-color: red;
}
.button-login{
	-fx-background-color: #3399ff;
	-fx-font: 15px "Impact, Charcoal, sans-serif";
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.button-login:pressed{
	-fx-background-insets: 0.5 0.5 0.5 0.5;
}
.stack-pane-login{
	-fx-padding: 10 0 10 0;
}
.vbox-login{
	-fx-background-color: white;
	-fx-padding: 0 100 0 100;
}